.container {
  width: 100%;
  min-height: 100vh;
  color: $white;
  padding: 4% 10%;
  transition: 0.2s ease;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      display: flex;
      align-items: center;
      font-size: 35px;
      font-weight: 600;
      user-select: none;
      text-shadow: 1px 1px 2px $blackShadow;
      img {
        width: 80px;
        filter: drop-shadow(0 0 2px $white);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $bgButton;
      color: $white;
      font-size: 1rem;
      outline: 0;
      border: 0;
      border-radius: 40px;
      padding: 10px 25px;
      margin: 30px 0 20px;
      cursor: pointer;
      box-shadow: 1px 1px 2px $blackShadow;

      transition: 0.2s ease;

      &:hover {
        background: $bgButtonHover;
      }
      i {
        font-size: 25px;
        margin-right: 8px;
      }
    }
  }

  .input-box {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: $bgButton;
    color: $white;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px $blackShadow;

    img {
      width: 25px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}
